body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.profil{
  background-image: url('../src/logo/header-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.kontak{
  background-image: url('../src/logo/contact.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.foto{
  background-image: url('../src/logo/profile.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.porto{
  background-image: url('../src/logo/portofolio.png');
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
